html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255)) saturate(1000%);
}

.icon-red {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(220 38 38)) saturate(400%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
